.character-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%;
}

  .imagen-personaje {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
   max-width: 100%;
   max-height: 100%;
  }
  

    .otros-detalles-characters{
    flex: 1;
    margin-right: 10px;
    gap: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
}
  .characterDetails_contenedor_general{
    background-color: black;
    max-width: 100%;
    max-height: 100%;
  }
  .nombre-personaje{
    color: white;
  }
  .ov-btn-slide-top {
    background: #fff; /* color de fondo */
    color: #000000; /* color de fuente */
    border: 2px solid #000000; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-top:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-top::after {
    content: "";
    background: #504e4e; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  