.cronologia_contendor_general {
  position: relative;
  max-width: 1200px; /* Limita el ancho del contenedor general */
  margin: 0 auto; /* Centra el contenedor en pantallas grandes */
}

.navega_cronologia {
  margin-bottom: 20px;
}

.circulo_contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.circulo_numero {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 2px solid #000;
}

.flecha_contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.flecha_imagen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_cronologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

.crono_image {
  position: relative;
  width: 90%; /* Usar un ancho mayor para pantallas grandes */
  max-width: 800px; /* Ajustar según sea necesario */
  margin: 10px 0;
}

.info {
  position: relative;
  bottom: 10px; /* Ajusta este valor para mover el texto hacia abajo o arriba */
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que el texto ocupe el ancho de la imagen */
}

.crono_name,
.crono_age {
  color: white;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semi-transparente para mejorar la legibilidad */
  padding: 5px;
  border-radius: 5px;
}

.imagen_cronologia1 {
  width: 100%; /* Mantiene el ancho al 100% de su contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}

/* Media queries para ajustar el tamaño de las imágenes en pantallas pequeñas */
@media (max-width: 768px) {
  .crono_image {
    width: 100%; /* Se ajusta al 100% en pantallas pequeñas */
    max-width: none; /* Elimina el límite de ancho máximo */
  }
}

/* Estilo para la línea continua que pasa por las imágenes */
.linea_continua {
  position: absolute;
  left: 50%; /* Centra la línea */
  top: 0; /* Alinea la línea con el borde superior del contenedor */
  width: 2px; /* Grosor de la línea */
  height: 100%; /* Altura completa del contenedor */
  background-color: black; /* Color de la línea */
  transform: translateX(-50%); /* Ajusta la línea para centrarla */
  z-index: -1; /* Envía la línea detrás de las imágenes */
}
